<div class="page-header-section" data-background="assets/img/pagehero-image.jpg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">404</li>
                    </ol>
                </nav>
                <h1 class="page-title">404 Not Found</h1>
            </div>
        </div>
    </div>
</div>
<div class="notfound-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="notfound-title">404</div>
                <h3 class="notfound-subtitle">Opos: Page Not Found</h3>
                <p class="notfound-descriptions">The page you are looking for was moved, removed, renamed or never
                    existed.</p>
                <div class="notfound-btn">
                    <a href="index.html" class="theme-btn">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>